<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionAndAnswerDao" class="cc.nevsky.otus.dao.QuestionsDaoCsv">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>

    <bean id="ioService" class="cc.nevsky.otus.services.IOServiceStreams"/>

    <bean id="questionsService" class="cc.nevsky.otus.services.QuestionsServiceImpl">
        <constructor-arg index="0" ref="questionAndAnswerDao"/>
    </bean>

    <bean id="questionsPrinter" class="cc.nevsky.otus.services.QuestionsPrinterImpl">
        <constructor-arg index="0" ref="ioService"/>
        <constructor-arg index="1" ref="questionsService"/>
    </bean>

    <bean id="hwRunner" class="cc.nevsky.otus.runner.HwRunner">
        <constructor-arg index="0" ref="questionsPrinter"/>
    </bean>

</beans>
