<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionAndAnswerDao" class="cc.nevsky.otus.dao.QuestionAndAnswerDaoCsv">
        <constructor-arg index="0" value="questions.csv"/>

    </bean>

    <bean id="questionAndAnswerService" class="cc.nevsky.otus.service.QuestionAndAnswerServiceImpl">
        <constructor-arg index="0" ref="questionAndAnswerDao"/>
    </bean>

</beans>
